body {
    height: 100vh;
    overflow: hidden;
}

#photo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: absolute;
    padding: 0px;
    margin: 0px;
}
#sPhoto {
    height: 53vh;
    width: 100%;
    position: relative;
    /*Viewport Height:40vh;*/
}
.controls {
    position: relative;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(103, 169, 126, 0.1);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(91, 160, 115, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-fill-upper {
  background: rgba(96, 165, 120, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 4.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(96, 165, 120, 0.1);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(103, 169, 126, 0.1);
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(103, 169, 126, 0.1);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(91, 160, 115, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-fill-upper {
  background: rgba(96, 165, 120, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 4.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(96, 165, 120, 0.1);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(103, 169, 126, 0.1);
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(103, 169, 126, 0.1);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
  background: rgba(96, 165, 120, 0.1);
  border-radius: 5.2px;
  border: 0.7px solid rgba(220, 236, 245, 0.14);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(91, 160, 115, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-fill-upper {
  background: rgba(96, 165, 120, 0.1);
  border: 0.7px solid rgba(220, 236, 245, 0.14);
  border-radius: 10.4px;
  box-shadow: 0px 0px 0px rgba(233, 255, 255, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.2);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 6px rgba(112, 163, 137, 0.41), 0px 0px 0.9px rgba(128, 173, 150, 0.41);
  border: 0.6px solid rgba(246, 255, 255, 0.33);
  height: 12px;
  width: 13px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 4.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(96, 165, 120, 0.1);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(103, 169, 126, 0.1);
}

/*input[type=range] {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1)36%, rgba(255, 255, 255, 1)36%);
}*/



.circle {
    border: solid 2px #FFFFFF;
    border-radius: 50px;
    height: 65px;
    position: absolute;
    width: 65px;
}
.circle_inner_play {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}
.circle_inner_pause {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -10px;
    color: #FFFFFF;
}

#nowTime {
    color: white;
    margin-left: 10px;
    font-size:1.6rem;
}
#time {
    color: white;
    position: absolute;
    right: 10px;
    font-size:1.6rem;
}
#action {
    bottom: -180px;
    right: 50%;
    transform: translateX(50%);

}
#stop {
    bottom: -180px;
    right: 50%;
    transform: translateX(50%);
}
#prevSong {
    position: absolute;
    margin-left: -14px;
    margin-top: -12px;
    color: #FFFFFF;
    font-size: 30px;
    bottom:-170px;
    left: -23px;
}
#lastSong {
    position: absolute;
    margin-left: -8px;
    margin-top: -12px;
    color: #FFFFFF;
    font-size: 30px;
    bottom: -170px;
    right: 60px;
}
.h3 {
    font-size: 2.1rem;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family:'cursive';
    letter-spacing: 0.2rem;
}
.h4 {
    font-size: 1.8rem;
    text-align: center;
    color:	#777;
    font-family:'cursive';
    letter-spacing: 0.2rem;
}
.name {
    display: none;
}
.active {
    display: inline-block;
}

.action {
    display: inline-block;
}
.now {
    display: none;
}
.actives {
    display: inline-block;
}

.list {
    color: white;
    position: absolute;
    right: 5%;
    font-size: 25px;
    margin-top: 8px;
    display: inline-block;
}
.heart {
    color: white;
    position: absolute;
    margin-left: 5%;
    font-size: 27px;
    margin-top: 8px;
    display: inline-block;
}
.pink-heart {
    color: pink;
}
.songList {
    color: black;
    background-color: white;
    opacity: 0.95;
    height: 60vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition:0.5s  transform;
}
.move {
    transform: translateY(100%);
}
.list-title {
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: 0.3rem;
}
.songtitle {
    font-size: 1.6rem;
    margin-left: 3rem;
    display: inline-block;
    letter-spacing: 2px;
    line-height: 3rem;
}
.yanSe {
    color:rgb(233, 87, 178);
}
.xian {
    background-color: gray;
    height: 1px;
    display: block;
    margin: 0;
    opacity: 0.3;
}
.gray {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 0;
    height: 100vh;
    transition:0.6s  opacity;
    z-index: -10;
}

.move-1 {
    z-index: 0;
    opacity: 0.3 !important;
}
