.zhihu-flex {
    display: flex
}

.zhihu-body {
  padding-top: 0!important;
  margin: 0;
}


.zhihu-header {
    width: 100%;
    background: #0662be;
    height: 45px;
    padding: 8px;
    text-align: center;
}

.zhihu-search {
    flex-grow: 2
}

.zhihu-title {
    padding-top: 10px;
    height: 100%;
    flex-grow: 2
}

.gua-index-item {
    padding-top: 10px;
    font-size: 24px;
    color: white;
    flex-grow: 1
}

#btn-qusetion {
    background-color: #0d73bd;
    padding: 10px;
    color: white;
    border-radius: 10%;
}

#input-search {
  width: 200px;
}
