body {
    margin: 0;
    background: #e6e6e6;
}

/* top bar */
.bbs-top {
    background: white;
    width: 100%;
    height: 42px;
}
.bbs-menu {
    float: right;
    font-size: 0;
}
.gua-nav-link {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
.gua-nav-link:hover {
    background: red;
}
.bbs-main {
    margin: 10px auto;
    text-align: center;
    min-width: 500px;
    max-width: 600px;

}
.bbs-box {
    border-radius: 3px;
    background: white;
}
.bbs-content {
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
    text-align: left;
}
.bbs-sidebar {
    display: inline-block;
    width: 180px;
    text-align: left;
}
/* 底部 */
.bbs-bottom {
    position: fixed;
    background: white;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid lightgray;
}