<!DOCTYPE html>
<html>

<head>
    <!-- 指明字符编码为 utf-8 否则中文会乱码 -->
    <meta charset="utf-8">
    <title>留言板</title>
    <style>
        .gua-message {
            background: lightblue;
            margin: 10px;
        }
    </style>
</head>

<body>
    <h1>留言板</h1>
    <form action="/message" method="GET">
        这是一个发送 GET 请求的表单
        <br>
        <textarea name="msg"></textarea>
        <br>
        <button type="submit">用 GET 提交表单</button>
    </form>

    <form action="/message/add" method="POST">
        这是一个发送 POST 请求的表单
        <br>
        <textarea name="msg_post"></textarea>
        <br>
        <button type="submit">用 POST 提交表单</button>
    </form>
    <!-- 下面是使用模板的办法 -->
    {# 这是 Jinja2 模板的注释语法，这样的注释并不会在生成的 HTML 代码中出现 #} {# {% %} 里面的是语句 #} {# {{ }} 里面的是引用变量 #}
    <!-- 注意 m 本身是一个字典，但是你可以用 . 的语法来引用 -->
    <!-- 这是 Jinja2 模板的功能 -->
    {% for m in messages %}
    <div class="gua-message">{{ m.content }}</div>
    {% endfor %}
</body>

</html>
