.v2-body {
    margin: 0px;
    background: #dfdfdf;
}

.v2-header {
    height: 42px;
    background: white;
    padding: 8px;
}

.v2-container {
    display: flex;
    background: #dfdfdf;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

.v2-content {
    margin-right: 25px;
    background: white;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    width: 1px;
}

.item-title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0px 1px 0px #fff;
    word-wrap: break-word;
}

.v2-sidebar {
    background: #dfdfdf;
    width: 1px;
}

.v2-sidebar-profile1 {
    padding: 8px;
    background: white;
    border-bottom: 1px solid #e2e2e2;
}

.v2-sidebar-profile2 {
    padding: 8px;
    background: white;
    text-align: center;
    margin-bottom: 25px;
}

.v2-sidebar-ad {
    background: #f2f2f2;
    padding: 5px;
    border-top: 20px solid white;
    text-align: center;
}

.v2-sidebar-top {
    margin-top: 20px;
    background: white;
}

.v2-sidebar-top-item {
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
}

.v2-sidebar-top-title {
    padding: 15px 5px 0px 5px;
    height: 30px;
    border-bottom: 1px solid #e2e2e2;
}

#text-ad {
    background: #dfdfdf;
    font-weight: bolder;
}

.v2-content-list {
    padding: 10px;
    line-height: 150%;
}

.v2-content-ffkg {
    background: #f9f9f9;
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.v2-content-item {
    padding: 10px;
    display: flex;
}

.v2-content-reply {
    width: 1px;
}

.v2-content-cell {
    width: 1px;
}

.v2-avatar {
    width: 1px;
}

.v2-flex-1 {
    flex-grow: 1;
}

.v2-flex-2 {
    flex-grow: 2;
}

.v2-flex-3 {
    flex-grow: 3;
}

.v2-flex-4 {
    flex-grow: 4;
}

.v2-flex-5 {
    flex-grow: 5;
}

.v2-flex-6 {
    flex-grow: 6;
}

.v2-flex-10 {
    flex-grow: 10;
}

.v2-header img {
    width: 112px;
    height: 36px;
    padding-left: 25px;
    margin-top: 2px
}

a.tab {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    padding: 5px 8px 5px 8px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
}

a:link, a:visited, a:active {
    text-decoration: none;
    word-break: break-all;
}
