* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

html, body, .todo {
    background:#fff;
    height: 100%;
}

.todo {
    display: flex;
}

.index {
    /*display: inline-block;*/
    flex-grow: 1;
    width: 6rem;
    height: 100%;
    background: #353d40;
    transition: color 0.8s ease, background 0.8s ease;
}
/*
.index-1 {
    flex-grow: 1;
    width: 6rem;
    height: 100%;
    background: rgba(242, 70, 70, 0.34);
}

.index-2 {
    flex-grow: 1;
    width: 6rem;
    height: 100%;
    background: rgba(118, 195, 221, 0.73);
}*/

.logo {
    text-align: center;
    margin: 20px 0px;

 }

.logo > img {
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
}

.list {
    background: rgb(64, 72, 75);
    color: #00bff3;
}

.list-0 {
    background: #2c3032;
    color: #00bff3;
    transition: color 0.8s ease, background 0.8s ease;
}
/*
.list-1 {
    background: rgba(242, 70, 70, 0.6);
    color: white;
}

.list-2 {
    background: rgba(118, 195, 221, 0.9);
    color: white;
}*/

.task {
    text-align: center;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
}

.task-list {
    margin: 0px 10px;
}

.theme {
    text-align: center;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
}

.themestar {
    margin: 0px 10px;
}

.themeTiao {
    text-align: center;
    background: #2c3032;
    height: 50px;
    line-height: 50px;
    opacity: 0.7;
}

.color {
    margin: 0px 10px;
}

#theme-0 {
    background: #727c7e;
}

#theme-1 {
    background: #5c6568;
    /*color:rgba(242, 70, 70, 0.34);*/
    color: rgb(255, 169, 169);
}

#theme-2 {
    background: #4c5355;
    /*color:rgba(118, 195, 221, 0.73);*/
    color: rgb(100, 194, 226);
}

.theme-color {
    overflow: hidden;
    height: 0px;
    /*opacity: 0;*/
    transition: overflow 0.8s ease, height 0.8s ease;
}

/*.theme-o {
    opacity: 1 !important;
}*/

.shou {
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
}

.contains {
    flex-grow: 100;
    height: 100%;
}

.info {
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
    line-height: 45px;
    color: #404040;
    font-size: 20px;
}

.date {
    color: #353d40;
    margin-left: 1rem;
    font-size: 2rem;
    font-family:'KyoMadoka', serif;
    transition: color 0.8s ease;

    /*font-style: italic;*/
}

/*.date-1 {
    margin-left: 1rem;
    font-size: 2rem;
    font-family:'KyoMadoka', serif;
    color: rgba(242, 70, 70, 0.34);
}

.date-2 {
    margin-left: 1rem;
    font-size: 2rem;
    font-family:'KyoMadoka', serif;
    color: rgba(118, 195, 221, 0.73);
}*/

.date-cont {
    margin: 0px 15px;
    margin-top: 5px;
    font-size: xx-large;
    color: #b7bfc1;
}

.date-cont:hover {
    text-shadow: 0px 0px 9px gray;
}

.date-add {
    float: right;
    line-height: 45px;
    margin-right: 40px;
    color: #00bff3;
}

.contains {
    color:#999999;
    position: relative;
}

.todo-task {
    position: relative;
}

.add-task {
    border-bottom: 1px solid #e5e5e5;
    line-height: 4rem;
    font-size: x-large;
}

#id-newTodo {
    display: inline-block;
    position: absolute;
    left: 60%;
    transform: translateX(20%);
}

.add-task > span > i {
    margin-left: 50px;
    margin-right: 10px;
}

.add-task > span:hover {
    text-shadow: 0px 0px 2px lightgray;
}

.input {
    display: inline-block;
}

#id-input-add {
    display: inline-block;
    border: 1px solid gray;
    height: 28px;
    width: 183px;
    /*position: relative;*/
    /*top: -10px;*/
    margin-left:1rem;
    box-shadow: 0px 0px 5px gray;
    transform: translateY(-20%);
}
.none{
    display: none;
}

#id-input-submit {
    display: none;
}

line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    /*left: 60px;*/
    z-index: 0;
    /*left: 4.3rem;*/
    left:3.7rem;
}

.timeTite {
    display: block;
    /*margin-left: 90px;*/
    margin-left: 80px;
    margin-bottom: 8px;
}

.yuan {
    /*margin-right: 1.1rem;*/
    position: absolute;
    z-index: 50;
    /*left: 3.9rem;*/
    left: 3.3rem;
    margin-top: 3px;
}

.time-tite {
    font-size: 1rem;
    color: black;
}
 .todo-cell {
     margin-left: 9px;
     /*height: 52px;*/
     line-height: 52px;
     color: black;
     position: relative;
 }
.todo-delete {
    right: 5px;
    top: 34%;
    position: absolute;
}
.done {
     color: gray;
     text-decoration: line-through;
 }

.thingTime {
    color: #999999;
    margin-left: 0;
    font-size: 13px;

}

.todo-check {
     font-size: 30px;
     /*margin-right: 10px;*/
     position: relative;
     top: 5px;
     z-index: 50;
     color: #ef662f;
     background: white;
     /*left: 0.1rem;*/
 }

.todo-content {
    /*word-wrap:break-word;*/
    font-size: 14px;

}
