* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#particles-js {
    position: fixed;
    top: 0;
    z-index: -10;
    /*background: black;*/
}

.header {
    width: 100%;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    z-index: 100;
}

.nav {
    /*height: 1em;
    font-size: 0.8em;*/
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.nav-a {
    font-size: 1.05rem;
    color: white;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 0.5rem;
    width: 5rem;
    text-align: center;
    letter-spacing: 0.5rem;
}

.nav-a+.nav-a {
    border-left: white 1px solid;
}

.highlight {
    color: #03A9F4;
}

.nav>ul {
    position: relative;
    font-size: 0;
}

line {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    height: 2px;
    width: 3.5rem;
    background: #03A9F4;
    bottom: -0.5rem;
    left: 0.7rem;
    transition: 1s transform;
}

.page {
    height: 100vh;
    /*z-index: 100;*/
}

.content {
    height: 400vh;
    transition: 1s transform;
    overflow: hidden;
}

.page-mian {
    width: 100%;
    position: relative;
}

.main-content {
    width: 100%;
    /*text-align: center;*/
}

.allSection {
    width: 300vw;
    transition: 1s transform;
    font-size: 0;
    /*position: relative;*/
}

.section {
    display: inline-block;
    width: 100vw;
    /*height: 100%;*/
    text-align: center;
}

#section-0 {
    height: 100vh;
    position: relative;
}

#section-1 {
    height: 100vh;
    position: relative;
}

#section-2 {
    height: 100vh;
    position: relative;
}

.baoTitle {
    left: 50%;
    top: 50%;
    text-align: center;
    position: absolute;
}

.main-title {
    font-size: 3.5rem;
    color: white;
}

.main-article {
    /*color: black;*/
    font-size: 1.5rem;
}

.write {
    box-sizing: content-box;
    margin-bottom: 1rem;
    /*font: bold 200% Consolas, Monaco, monospace;*/
    /*font-family: monospace;*/
    padding-right: 0.1rem;
    /*letter-spacing: 0.1rem;*/
    border-right: .1em solid;
    width: 14ch;
    /* # of chars */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(14, end), /* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
}

.write-1 {
    box-sizing: content-box;
    margin-bottom: 1rem;
    /*font: bold 200% Consolas, Monaco, monospace;*/
    /*font-family: monospace;*/
    padding-right: 0.5rem;
    /*letter-spacing: 0.1rem;*/
    border-right: .1em solid;
    width: 37ch;
    /* # of chars */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(37, end), /* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
    color: white;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.fontfamily-0 {
    font-family: 'Times New Roman', serif;
    font-style: italic;
}

.fontfamily-1 {
    font-family: 'Times New Roman';
    letter-spacing: 0.5rem;
}

.me {
    transform: translate(-50%, -55%);
}

.me-1 {
    margin-bottom: 1rem;
    font-family: 'Lucida Handwriting', serif;
    font-style: italic;
}

.me-2 {
    line-height: 3rem;
    color: rgba(252, 252, 252, 0.78);
}

.line {
    color: gray;
    letter-spacing: 0.5rem;
    text-decoration: line-through;
}

.main-font {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.photo-0 {
    background: url(css-img/1.jpg) no-repeat;
    width: 100vw;
    background-size: cover;
    /*background-size:cover;*/
    opacity: 0.85;
    height: 100vh;
    background-position: center;
}

.photo-1 {
    background: url(css-img/2.jpg) no-repeat;
    width: 100vw;
    background-size: cover;
    /*background-size:cover;*/
    opacity: 0.8;
    height: 100vh;
    background-position: center;
}

.photo-2 {
    background: url(css-img/3.jpg) no-repeat;
    width: 100vw;
    background-size: cover;
    /*background-size:cover;*/
    opacity: 0.85;
    height: 100vh;
    background-position: center;
}

.button {
    width: 100vw;
    /*position: absolute;*/
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.next, .prev {
    position: fixed !important;
    color: white;
    /*font-size: 5rem;*/
    cursor: pointer;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    background-color: #808080;
    padding: 0.8rem 0.5rem;
    text-align: center;
    opacity: 0.4;
    transform: translateY(350%);
}

.next:hover, .prev:hover {
    opacity: 1 !important;
}

.tiao {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.dian {
    background: black;
    display: inline-block;
    width: 4rem;
    height: 0.3rem;
    margin: 1rem;
    border-radius: 1rem;
}

.dian:hover {
    cursor: pointer;
}

.active {
    background: white;
}

.page-about {
    position: relative;
    background: rgba(252, 252, 252, 0.81);
    /*background: url(4.jpg) no-repeat;
    width:100vw;
    background-size: cover;
    /*background-size:cover;*/
    /*opacity: 0.8;
    height: 100vh;*/
    */
}

.photo-4 {
    background: url(css-img/4.jpg) no-repeat;
    width: 100vw;
    background-size: cover;
    /*background-size:cover;*/
    opacity: 0.7;
    height: 100vh;
}

.about-content {
    width: 100%;
    text-align: center;
}

.vertical-center-1 {
    position: absolute;
    top: 55%;
}

.about-article {
    /*color: white;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.7;*/
    /*position: relative;*/
}

.about-music {
    width: 17rem;
    height: 30rem;
    box-shadow: 10px 10px 40px #333333;
    left: 18%;
    /*-webkit-transform: rotateY(0deg);*/
}

.music-button {
    display: none;
}

.music-introduce {
    background-color: white;
    width: 33rem;
    height: 30rem;
    box-shadow: 5px 5px 29px #333333;
    left: 45%
    /*opacity: 0.9;*/
}

.shadow:hover {
    box-shadow: inset 9px 9px 58px 18px #CFCBCB;
    -webkit-box-shadow: inset 9px 9px 58px 18px #CFCBCB;
    -moz-box-shadow: inset 9px 9px 58px 18px #CFCBCB;
    -o-box-shadow: inset 9px 9px 58px 18px #CFCBCB;
}

.introduce-title {
    color: #000000;
    font-family: 'Lucida Handwriting', serif;
    font-style: italic;
    font-size: 2rem;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    position: absolute;
}

.introduce-article {
    font-size: 1rem;
    left: 52%;
    top: 22%;
    transform: translate(-50%);
    text-align: left;
    position: absolute;
    width: 90%;
    line-height: 3rem;
    color: #2196f3;
}

.color:hover {
    animation: 1s rainbow;
}

@keyframes rainbow {
    0% {
        color: #2196f3;
    }
    50% {
        color: rgba(33, 150, 243, 0.46);
    }
    100% {
        color: rgba(33, 150, 243, 0.21);
    }
}

.page-work {
    position: relative;
    /*background: rgba(204, 166, 116, 0.64);*/
    /*opacity: 0.6;*/
}

.work-photo {
    width: 45rem;
    height: 32.5rem;
    box-shadow: 10px 10px 29px #333333;
    left: 40%;
    opacity: 0.85;
}

.photo-introduce {
    background-color: black;
    width: 20rem;
    height: 32.5rem;
    /*box-shadow: 5px 5px 29px #333333;*/
    left: 15%;
    opacity: 0.85;
    border-radius: 1rem;
}

.photo-title {
    color: white;
    font-family: 'Lucida Handwriting', serif;
    font-style: italic;
    font-size: 2.5rem;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    position: absolute;
}

.photo-article {
    font-size: 1rem;
    left: 52%;
    top: 40%;
    transform: translate(-50%);
    text-align: left;
    position: absolute;
    width: 90%;
    line-height: 3rem;
    color: white;
}

.banner-button {
    display: none;
}

.shadow-1:hover {
    box-shadow: inset 2px 9px 64px 18px #6B6565;
    -webkit-box-shadow: inset 2px 9px 64px 18px #6B6565;
    -moz-box-shadow: inset 2px 9px 64px 18px #6B6565;
    -o-box-shadow: inset 2px 9px 64px 18px #6B6565;
}

.color-2:hover {
    animation: 1s rainbow-1;
}

@keyframes rainbow-1 {
    0% {
        color: white;
    }
    50% {
        color: rgba(255, 255, 255, 0.6);
    }
    100% {
        color: rgba(255, 255, 255, 0.27);
    }
}

.page-content {
    background: rgba(252, 252, 252, 0.93);
    position: relative;
}


/*.content-article {
    font-family:'Times New Roman', serif;
    font-style: italic;
    left: 32%;
    color: black;
    font-size: 3rem;
    left: 50%;
    transform: translateX(-50%);
}*/

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: inline-block;
    margin: 1rem;
    border: 2px solid;
    border-color: white;
}

.circle:hover {
    width: 2rem;
    height: 2rem;
    transition: width 0.8s, height 0.8s, margin 0.8s;
}

.allAircle {
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    top: 55%;
}

#circle-0 {
    background-color: #353d40;
}

#circle-1 {
    background-color: rgba(242, 70, 70, 0.34);
}

#circle-2 {
    background-color: rgba(118, 195, 221, 0.73);
}

.theme-article {
    position: absolute;
    /*left: 50%;*/
    transform: translateX(-50%);
    top: 20%;
    left: 20%;
}

.todo {
    font-family: 'Viner Hand ITC', serif;
    font-size: 3rem;
    color: white;
}

.todo-font {
    color: white;
    font-size: 3rem;
}

.todo-font-1 {
    color: white;
    font-size: 2rem;
}

.slider-active {
    display: inline-block;
}

.theme-color {
    width: 100vw;
    height: 89vh;
    background: #353d40;
    transition: 1s background;
}

.lazy {
    /*display: none;*/
    width: 15rem;
    height: 25rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    /*opacity: 0;*/
}


/*.lazy-active {
    display: inline-block;
    opacity: 1;
    transition:opacity 1s  ease;
    animation: opacity 0.7s ;
}*/


/*
@keyframes opacity {
    0% { opacity: 0; }
    60% { opacity: 0.5; }
    100% {opacity: 1; }
}*/

.phone {
    position: absolute;
    top: 8.6%;
    left: 50%;
    transform: translateX(-50%);
    width: 23rem;
    height: 39rem;
}

.img {
    display: inline-block;
    width: 100px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.nextPage {
    position: fixed;
    right: 5%;
    bottom: 5%;
    font-size: 3rem;
    color: gray;
    -webkit-animation: slideDown 2s infinite;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

@keyframes slideDown {
    from {
        top: 85%;
    }
    to {
        top: 88%;
    }
    from {
        bottom: 12%;
    }
    to {
        bottom: 15%;
    }
}

.hidden {
    display: none;
}

.no {
    transition: 0s transform !important;
}
